<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>cs</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!-- body -->

<body class="main-layout">
   <!-- loader  -->
   <div class="loader_bg">
      <div class="loader">
         <img src="images/loading.gif" alt="#" /></div>
   </div>
   <div class="wrapper">
      <!-- end loader -->
      <div class="sidebar">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div id="dismiss">
               <i class="fa fa-arrow-left"></i>
            </div>
            <ul class="list-unstyled components">
               <li class="active">
                  <a href="index.html">HOME</a>
               </li>
               <li>
                  <a href="#ESPAÑOL">ESPAÑOL</a>
               </li>
               <li>
                  <a href="#INGLES">INGLES</a>
               </li>
               <li>
                  <a href="#FRANCES">FRANCES</a>
               </li>
               <li>
                  <a href="#ITALIANO">ITALIANO</a>
               </li>
            </ul>
         </nav>
      </div>
      <div id="content">
         <!-- header -->
         <header>
            <!-- header inner -->
            <div class="head_top">
               <div class="header">
                  <div class="container-fluid">
                     <div class="row">
                        <div class="col-md-3 logo_section">
                           <div class="full">
                              <div class="center-desk">
                                 <div class="logo">
                                    <a href="index.html"><img src="images/logo.png" alt="#"></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-9">
                           <div class="right_header_info">
                              <ul>
                                 <li class="menu_iconb">
                                    <a href="Javascript:void(0)">AWS</a>
                                 </li>
                                 <li>
                                    <button type="button" id="sidebarCollapse">
                                       <img src="images/menu_icon.png" alt="#" />
                                    </button>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </header>
         <!-- end header inner -->
         <!-- end header -->
         <section class="slider_section">
            <div class="banner_main">
               <img src="images/bg_main.jpg" alt="#" style="width: 100%;" />

               <div class="container-fluid padding3">
                  <div class="row">
                     <div class="col-md-12">
                        
                     </div>
                  </div>
               </div>
            </div>
         </section>


         <!-- customer ESP -->
         <div id="ESPAÑOL" class="customer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>ESPAÑOL</h2>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="customer_text">
                        <p class="titlepage" style="font-size: 100px;">Hola mundo.</p>
                        <div class="customer_box">
                           <i><img src="images/mx.png" alt="#" style="border-radius: 50%; width: 170px; height: 170px;" />
                           </i>
                           <h4>MEXICO</h4>
                           <span></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end customer ESP -->
         <!-- customer ING -->
         <div id="INGLES" class="customer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>INGLES</h2>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="customer_text">
                        <p class="titlepage" style="font-size: 100px;">Hello World.</p>
                        <div class="customer_box">
                           <i><img src="images/eu.png" alt="#" style="border-radius: 50%; width: 170px; height: 170px;" /></i>
                           <h4>ESTADOS UNIDOS</h4>
                           <span></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end customer ING -->
         <!-- customer FRANCES -->
         <div id="FRANCES" class="customer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2>FRANCES</h2>
                        <span></span>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-10 offset-md-1">
                     <div class="customer_text">
                        <p class="titlepage" style="font-size: 100px;">Salut monde.</p>
                        <div class
